BOT_TOKEN=-vvOqeOlrfspPufYfEOaChAM16gsNDKYn-trxS3Qtc4

# URL del backend al que el bot pide credenciales XMPP y envía resultados.
BACKEND_URL=https://cano-bot-api.aleecr.es

# CUENTA XMPP DEL BOT, PROBAR CON EL DOMINO
BOT_USERNAME=cuenta-ejemplo@xmpp.aleecr.es
BOT_PASSWORD=contraseña-de-la-cuenta-XMPP
